app = "alteraciones"
primary_region = "lax"

[[services]]
internal_port = 8080
protocol = "tcp"

  [services.http_checks]
  http_path = "/"
  host = "blancasalteration.com"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[vm]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
